.card {
  border-radius: 4px;
  border: 1px solid var(--surface-bg-3);
  background-color: var(--surface-bg-2);
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4px;

  &.clickable:hover {
    background-color: var(--surface-bg-3);
  }
}
