.navigationMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .erick-ruiz-link {
    @include Heading();

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: rem(48px);

    & a:hover,
    & a:active,
    & a.active {
      color: var(--text-high-emphasis);
      text-decoration: none;
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: rem(0);
    margin-left: auto;
    padding: rem(8px) rem(16px);

    li {
      margin: 4px;

      &:first-of-type {
        margin-left: auto;
      }

      a {
        align-items: center;
        justify-content: center;
        padding: 4px 8px;
        border-radius: 4px;
        line-height: 150%;
        font-size: 16px;
        background-color: var(--color-primary);
        color: var(--surfaces-white);
        text-decoration: none;
        border: 2px solid transparent;

        &.active, &:hover {
          border: 2px solid var(--color-primary--border);
        }
      }
    }
  }
}
