.navigation-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .nav-links {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 32px;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
    padding: 0;

    a {
      @include textBody1();

      @extend %no-highlight;

      font-size: rem(12);
      font-weight: 500;
      padding: rem(0) rem(8);
      border-radius: rem(4);
      background-color: transparent;
      text-decoration: none;
      text-transform: uppercase;

      &::before {
        @include textBody1();

        display: block;
        content: attr(title);
        font-weight: 700;
        height: 0;
        overflow: hidden;
        visibility: hidden;
        position: absolute;
      }

      &.active,
      &:hover {
        font-weight: 700;
      }
    }
  }
}