$color-brand-primary: #2E9CCA;
$color-brand-secondary: #29648A;

$surface-bg-1-dark: #25274D;
$surface-bg-2-dark: #464866;
$surface-bg-3-dark: #AAABB8;

$surface-bg-1-light: #555447;
$surface-bg-2-light: #B9B799;
$surface-bg-3-light: #DAD8B2;

$surface-black: #000000;
$surface-white: #FFFFFF;

$text-high-emphasis-black: scale-color($surface-black, $alpha: -5%);
$text-med-emphasis-black: scale-color($surface-black, $alpha: -15%);
$text-disabled-black: scale-color($surface-black, $alpha: -45%);

$text-high-emphasis-white: scale-color($surface-white, $alpha: -5%);
$text-med-emphasis-white: scale-color($surface-white, $alpha: -15%);
$text-disabled-white: scale-color($surface-white, $alpha: -45%);

html {
  --color-brand-primary: #{$color-brand-primary};
  --color-brand-secondary: #{$color-brand-secondary};
  --text-high-emphasis-black: #{$text-high-emphasis-black};
  --text-med-emphasis-black: #{$text-med-emphasis-black};
  --text-disabled-black: #{$text-disabled-black};
  --text-high-emphasis-white: #{$text-high-emphasis-white};
  --text-med-emphasis-white: #{$text-med-emphasis-white};
  --text-disabled-white: #{$text-disabled-white};

  // Theme-dependent variables
  --surface-bg-1: #{$surface-bg-1-light};
  --surface-bg-2: #{$surface-bg-2-light};
  --surface-bg-3: #{$surface-bg-3-light};
  --text-high-emphasis: #{$text-high-emphasis-black};
  --text-med-emphasis: #{$text-med-emphasis-black};
  --text-disabled: #{$text-disabled-black};
}

@mixin darkTheme {
  --surface-bg-1: #{$surface-bg-1-dark};
  --surface-bg-2: #{$surface-bg-2-dark};
  --surface-bg-3: #{$surface-bg-3-dark};
  --text-high-emphasis: #{$text-high-emphasis-white};
  --text-med-emphasis: #{$text-med-emphasis-white};
  --text-disabled: #{$text-disabled-white};
}

[data-color-scheme="dark"] {
  @include darkTheme();
}
