.input {
  &[type='number'] {
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  
  &[type='text'],
  &[type='number'] {
    @include Heading3();

    background-color: var(--surface-bg-1);
    color: var(--text-high-emphasis);
    height: rem(36);
  }
  &[type='radio'] {
    margin-right: rem(4);
  }
}

.inputFormGroup {
  display: flex;
  flex-direction: column;
  padding: rem(8) rem(16);

  &.radioFormGroup {
    flex-direction: row-reverse;
    margin-right: auto;
  }
}

.label {
  @include Heading3();
}
