.content {
  color: var(--text-high-emphasis);
  width: 80%;
  min-width: 300px;
  margin: 32px auto;
  background-color: var(--surface-bg-1);
  border: 2px solid var(--surface-bg-2);
  padding: 16px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;

  &.center {
    justify-content: center;
  }

  &.vertical-center {
    align-items: center;
  }
}

@media (max-width: 767px) {
  .content {
    justify-content: center;
  }
}
