.content {
  color: var(--text-high-emphasis);
  width: 80%;
  min-width: rem(300);
  margin: rem(32) auto;
  background-color: var(--surface-bg-1);
  border: rem(2) solid var(--surface-bg-2);
  padding: rem(16);
  border-radius: rem(4);
  display: flex;
  flex-direction: row;

  &.center {
    justify-content: center;
  }

  &.vertical-center {
    align-items: center;
  }

  &.newlines {
    white-space: pre-line;
  }
}

@include md($screen-md-min) {
  .content {
    justify-content: center;
  }
}
