.header {
  width: 100%;
  background: var(--surface-bg-2);

  &.fixedHeader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

.main {
  margin: 0;
  display: flex;
  flex-direction: row;

  &.contentGridSizing {
    min-height: rem(780);
    min-width: rem(1440);
  }
}
