@import "../styles/all.includes";

.profileCard {
  width: 220px;
  height: min-content;

  &.clickable {
    cursor: pointer;
  }

  .image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  .section {
    display: flex;
    flex-direction: column;
    width: calc(100% - 16px);
    padding: 8px;
    margin-top: 4px;

    .title,
    .subtitle {
      text-align: center;
    }

    .title {
      @include Heading1();
    }

    .subtitle {
      @include Heading3();
    }
  }
}
