html {
  --color-primary: #ef5b90;
  --color-primary--50: #{transparentize(#ef5b90, .50)};
  --surfaces-bg-1: #ffffff;
  --surfaces-bg-1--hover: #{darken(#ffffff, 12%)} ;
  --surfaces-bg-1--border: #{darken(#ffffff, 24%)} ;
  --surfaces-fg: #000000;
}