.card {
  border-radius: 4px;
  border: 1px solid var(--surfaces-bg-1--border);
  background-color: var(--surfaces-bg-1);
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4px;

  &.clickable:hover {
    background-color: var(--surfaces-bg-1--hover);
  }
}
