.frame {
  background-color: var(--color-brand-primary);
  height: rem(256);
  padding: rem(8);
  width: rem(190);
  box-shadow: rem(3) rem(3) rem(5) #777;

  &__photoContainer {
    background-color: var(--color-brand-secondary);
    height: rem(174);
    width: rem(174);

    img {
      height: 100%;
      object-fit: cover;
      object-position: center center;
      width: 100%;
    }
  }
}

.blockFrame {
  background-color: var(--color-brand-primary);
  padding: rem(8);
  box-shadow: rem(3) rem(3) rem(5) #777;

  &__photoContainer {
    background-color: var(--color-brand-secondary);
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      object-fit: cover;
      object-position: center center;
      width: 100%;
    }
  }
}

.footer {
  @include textBody1();

  display: flex;
  flex-direction: column;
  margin-top: rem(8);

  &__top {
    display: flex;
    flex-direction: row;
  }

  &__title {
    @include textBody1();
  }

  &__date {
    @include textBody1();

    margin-left: auto;
  }

  &__description {
    @include textBody1();

    margin-top: rem(4);
  }
}

