.frameModalContainer {
  .modalOverlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 900;
  }

  .frame {
    background-color: var(--color-brand-primary);
    padding: rem(16);
    position: fixed;
    top: 0;
    left: calc(50vw - (100vh / 1.348) / 2);
    height: 100vh;
    width: calc(100vh / 1.348);
    box-shadow: rem(7) rem(7) rem(10) #777;
    z-index: 1000;

    &__photoContainer {
      background-color: var(--color-brand-secondary);
      height: calc((100vh / 1.348) - (2rem));
      width: calc((100vh / 1.348) - (2rem));

      img {
        height: 100%;
        object-fit: cover;
        object-position: center center;
        width: 100%;
      }
    }
  }

  .blockFrame {
    background-color: var(--color-brand-primary);
    padding: rem(16);
    position: fixed;
    top: 0;
    left: calc(50vw - (80vw) / 2);
    height: 100vh;
    width: 80vw;
    box-shadow: rem(7) rem(7) rem(10) #777;
    z-index: 1000;

    &__photoContainer {
      background-color: var(--color-brand-secondary);
      height: calc(100vh - (2rem));
      width: calc(80vw - (2rem));

      img {
        height: 100%;
        object-fit: cover;
        object-position: center center;
        width: 100%;
      }
    }
  }

  .footer {
    @include Heading1();
  
    display: flex;
    flex-direction: column;
    margin-top: rem(8);
  
    &__top {
      display: flex;
      flex-direction: row;
    }
  
    &__title {
      @include Heading1();
    }
  
    &__date {
      @include Heading1();
  
      margin-left: auto;
    }
  
    &__description {
      @include Heading1();
  
      margin-top: rem(16);
    }
  }
}
